version: "3.9"

services:
  backend:
    build:  ./Server
    container_name: flask_backend
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./Client
    container_name: react_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always